/* colors */
/* maintext #757575; */
/* secondtext  #212121 */
/* activecolor #2196F3 */
/* background: #E5E5E5; */
/* second background: #2F303A; */
/* third background: #F5F4FA; */

:root {
  --maintextcolor: #757575;
  --secondtextcolor: #212121;
  --whitetextcolor: #ffffff;
  --activecolor: #2196f3;
  --background: #e5e5e5;
  --second-background: #2f303a;
  --third-background: #f5f4fa;
  --main-font: Roboto;
}

/* global style */
a {
  text-decoration: none;
}
img {
  display: block;
  margin-bottom: 0px;
  }
ul {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons */
.button {
  color: var(--secondtextcolor);
  background-color: var(--third-background);

  font-family: inherit;
}
.button.primary {
  color: var(--whitetextcolor);
  background-color: var(--activecolor);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.button.secondary {
  color: var(--secondtextcolor);
  background-color: var(--third-background);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;

  height: 38px;
  width: auto;
  top: 174px;
  border-radius: 4px;
  padding: 6px 22px;

  border-radius: 4px;
  background: rgba(245, 244, 250, 1);
  border: none;
}
.button.secondary:focus,
.button.secondary:hover {
  color: var(--whitetextcolor);
  background-color: var(--activecolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* body */
body {
  color: var(--maintextcolor);
  font-family: var(--main-font), sans-serif;
  letter-spacing: 0.03em;
}



.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.header-container {
  background-color: var(--whitetextcolor);
  border-bottom: 1px solid #ececec;
}

.header-item {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.header-logo {
  margin-right: 93px;
}

.nav-list {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin: 0px;
}
.nav-item {
  display: block;
}
.nav-item:not(:last-child) {
  margin-left: 0px;
  margin-right: 50px;
  padding-left: 0px;
}

/* logo */
.logo {
  color: var(--activecolor);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo .accent {
  color: var(--secondtextcolor);
}
.logo .accentwhite {
  color: var(--whitetextcolor);
}
/* site-nav */
.site-nav .nav-link {
  color: var(--secondtextcolor);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--activecolor);
}
.site-nav .nav-link.current {
  color: var(--activecolor);
}

/* site-contact */

.contact-link {
  display: flex;
  align-items: center;
  color: var(--maintextcolor);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}


.site-contact .contact-link:hover,
.site-contact .contact-link:focus {
  color: var(--activecolor);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--activecolor);
}

.contact-link:hover svg {
  fill: var(--activecolor);
}
.contact-link:focus svg {
  fill: var(--activecolor);
}

.contact-header {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.contact-mail,
.contact-phone {
  margin-right: 10px;
  fill: var(--maintextcolor);
}
.contact-item:not(:last-child) {
  margin-right: 50px;
  padding-left: 0px;
}


/* footer styles */
.footer {
  max-width: 1600px;
  background-color: var(--second-background);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.footer-block {
  display: flex;
  justify-content: left;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.footer-address {
  color: var(--whitetextcolor);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.adress-list {
  padding: 0px;
  margin: 0px;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--activecolor);
}
.footer-contact {
  color: rgba(255, 255, 255, 60%);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--activecolor);
}

.footer-join {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-join-title {
  margin: 0px;
  margin-bottom: 20px;
text-align: left;

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--whitetextcolor);
}

.footer-contact-list {
    display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-contact-item {
    display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, .1);
}
.footer-contact-item:last-child {
  margin-right: 0px;
}

.footer-contact-item:hover,
.footer-contact-item:focus {
  background-color: var(--activecolor);
  border-radius: 50%;
  border-color: var(--activecolor);
}

.footer-social {
    display: flex;
  align-items: center;
  justify-content: center;
    width: 44px;
  height: 44px;
}

.footer-icon-link {
  fill: var(--third-background);
}



/* index style */

/* hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(196, 196, 196, 1);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.hero-button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}
.hero .hero-title {
  color: var(--whitetextcolor);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* special */

.special-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  margin-bottom: 30px;
}

.special-title {
  color: var(--secondtextcolor);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}
.special-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0px;
  margin: 0px;
}
.special-type:not(:last-child) {
  display: block;
  margin-right: 30px;
}
.special-item {
  width: 270px;
  color: var(--maintextcolor);

  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
}

/* about work */

.about-work {
  padding-top: 0px;
}
.work-title {
  color: var(--secondtextcolor);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}
.work-image {
  display: flex;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.work-image-item:not(:last-child) {
  margin-right: 30px;
}

/* our team */
.our-team {
  background-color: rgba(245, 244, 250, 1);
}
.team {
  display: flex;
  padding-inline-start: 0px;
  margin: 0px;
}
.team-member:not(:last-child) {
  margin-right: 30px;
}
.team-member {
  display: block;
  background-color: rgba(255, 255, 255, 1);
  width: 270px;
  left: 815px;
  top: 1635px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--secondtextcolor);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.personal-title {
  color: var(--secondtextcolor);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.personal-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px 0px 16px 0px;
}

.team-card {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-contact-list {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.team-contact-item {
  display: flex;
  justify-content: center;
  align-content: center;
}
.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
    width: 44px;
  height: 44px;
background-color: transparent;
}
.team-link {
  fill: rgba(175, 177, 184, 1);
}

.team-contact-item:hover,
.team-contact-item:focus {
  background-color: var(--activecolor);
  border-radius: 50%;
  border-color: var(--activecolor);
}

.team-contact-item:hover svg {
fill: rgba(255, 255, 255, 1);
}
.team-contact-item:focus svg {
fill: rgba(255, 255, 255, 1);
}

/* our clients */

.client-title {
  color: var(--secondtextcolor);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.client-list {
  display: flex;
  justify-content: space-between;
padding-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

.client-item {
  display: block;
}
.client-site {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  
}

.client-site,
.client-picture {
  fill: rgba(175, 177, 184, 1);
}

.client-site:hover svg {
  fill: var(--activecolor);
  cursor: pointer;
}
.client-site:focus svg {
fill: var(--activecolor);
}
.client-site:hover,
.client-site:focus {
  border-color: var(--activecolor) ;
}



/* portfolio exemples */
.button-filter {
margin-bottom: 50px;
}
.button-list {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.exemples-title {
  color: var(--secondtextcolor);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}
.exemple-filter {
  font-size: 16px;
  line-height: 1.87;
  margin: 0px
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}
.example-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.example-item:nth-child(3n) {
  margin-right: 0px;
}
.example-item:nth-child(n+7) {
  margin-bottom: 0px;
}
.example-item:hover,
.example-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.exemple-card {
padding: 20px 24px;
border-right: 1px solid rgba(238, 238, 238, 1);
border-left: 1px solid rgba(238, 238, 238, 1);
border-bottom: 1px solid rgba(238, 238, 238, 1);
}
