/* footer styles */
.footer {
  max-width: 1600px;
  background-color: var(--second-background);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.footer-block {
  display: flex;
  align-items: baseline;
}

.footer-address {
  color: var(--whitetextcolor);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color var(--duration) var(--timing-function);
}
.adress-list {
  padding: 0px;
  margin: 0px;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--activecolor);
}
.footer-contact {
  color: rgba(255, 255, 255, 60%);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color var(--duration) var(--timing-function);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--activecolor);
}

.footer-join {
  margin-left: 70px;
}

.footer-join-title {
  margin: 0px;
  margin-bottom: 20px;
  text-align: left;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitetextcolor);
}

.footer-contact-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-contact-item {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--timing-function);
}
.footer-contact-item:last-child {
  margin-right: 0px;
}

.footer-contact-item:hover,
.footer-contact-item:focus {
  background-color: var(--activecolor);
  border-radius: 50%;
  border-color: var(--activecolor);
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.footer-icon-link {
  fill: var(--third-background);
}

.subscribe-form {
  margin-left: 93px;
}

.subscribe-title {
  margin-top: 0px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitetextcolor);
}

.subscribe-box {
  display: flex;
  align-items: center;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);

}

.subscribe-input:focus {
  border-color: var(--activecolor);
}

.subscribe-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  justify-content: center;
  padding: 10px 28px 10px 29px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-button span {
  margin-right: 10px;
}

.subscribe-svg {
  fill: var(--whitetextcolor);
}

/* our team */
.our-team {
  background-color: rgba(245, 244, 250, 1);
}
.team {
  display: flex;
  padding-inline-start: 0px;
  margin: 0px;
}
.team-member:not(:last-child) {
  margin-right: 30px;
}
.team-member {
  display: block;
  background-color: rgba(255, 255, 255, 1);
  width: 270px;
  left: 815px;
  top: 1635px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--secondtextcolor);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.personal-title {
  color: var(--secondtextcolor);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.personal-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px 0px 16px 0px;
}

.team-card {
  padding: 30px 32px;
}

.team-contact-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.team-contact-item {
  display: flex;
  justify-content: center;
  align-content: center;
 
}
.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--duration) var(--timing-function);
}

.team-link {
  fill: rgba(175, 177, 184, 1);
  transition: fill var(--duration) var(--timing-function);
}

.team-social:hover,
.team-social:focus {
  background-color: var(--activecolor);
  border-radius: 50%;
  border-color: var(--activecolor);
}


.team-contact-item:hover svg {
  fill: rgba(255, 255, 255, 1);
}
.team-contact-item:focus svg {
  fill: rgba(255, 255, 255, 1);
}

