.about-work {
  padding-top: 0px;
}
.work {
    &__title {
  color: var(--secondtextcolor);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}
&__list {
  display: flex;
  padding-inline-start: 0px;
}
&__list-item {
  position: relative;
}
&__list-item:not(:last-child) {
  margin-right: 30px;
}
&__card {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
&__name {
  position: absolute;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitetextcolor);
}
}