.footer {
  max-width: 1600px;
  background-color: var(--second-background);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

&__block {
  display: flex;
  align-items: baseline;
}
&__address {
  color: var(--whitetextcolor);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;

  transition: color var(--duration) var(--timing-function);
}
&__address:focus {
  color: var(--activecolor);
}
&__address:hover {
  color: var(--activecolor);

}
&__item{
    width: 218px;
}
&__item:not(:last-child) {
  margin-bottom: 9px;
}
&__item:focus {
  color: var(--activecolor);
}
&__item:hover {
  color: var(--activecolor);
}
&__contact {
  color: rgba(255, 255, 255, 60%);
  
  font-style: normal;
  line-height: 1.71;

  transition: color var(--duration) var(--timing-function);
}
&__contact:focus {
  color: var(--activecolor);
}
&__contact:hover {
  color: var(--activecolor);
}
&__join {
  margin-left: 70px;
}
&__join-title {
  margin-bottom: 20px;
  text-align: left;

  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitetextcolor);
}
&__contact-list {
  display: flex;
  justify-content: space-between;
}
&__contact-item {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--timing-function);
}
&__contact-item:last-child {
  margin-right: 0px;
}
&__contact-item:focus {
  background-color: var(--activecolor);
  border-radius: 50%;
  border-color: var(--activecolor);
}
&__contact-item:hover {
  background-color: var(--activecolor);
  border-radius: 50%;
  border-color: var(--activecolor);
}
&__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
&__icon-link {
  fill: var(--third-background);
}
}
.subscribe {
    &__form {
  margin-left: 93px;
}
&__title {
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitetextcolor);

  margin-bottom: 20px;
}
&__box {
  display: flex;
  align-items: center;
}
&__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
}
&__input:focus {
  border-color: var(--activecolor);
}
&__button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  justify-content: center;
  padding: 10px 28px 10px 29px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
&__button span {
  margin-right: 10px;
}
&__icon {
  fill: var(--whitetextcolor);
}
}