.header {
  background-color: var(--whitetextcolor);
  border-bottom: 1px solid #ececec;
  //  @include mq(mobile-only) {
  //   background-color: aqua;
  //  }
  //  @include mq (tablet-only) {
  //   background-color: rgb(241, 167, 154);
  //  }

  &__container {
  display: flex;
  align-items: center;
  min-height: 80px;
   @include mq(mobile-only) {
    min-height: 60px;
   }
  }

  &__btn {
  top: 10px;
  right: 15px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;

  z-index: 11;

  &:hover .header__btn-open {
    fill: var(--activecolor);
    transition: fill var(--duration) var(--timing-function);
  }
  &:focus .header__btn-open {
    fill: var(--activecolor);
    transition: fill var(--duration) var(--timing-function);
  }
  &:hover .header__btn-close {
    fill: var(--activecolor);
    transition: fill var(--duration) var(--timing-function);
  }
  &:focus .header__btn-close {
    fill: var(--activecolor);
    transition: fill var(--duration) var(--timing-function);
  }

  & is-open {
  position: fixed;
  top: 0;
  right: 21px;
  }
    @include mq (tablet) {
      display: none;
    }
  }

.header__btn.is-open {
  position: fixed;
}
  // &__btn-icon {
  //   fill: var(--secondtextcolor);
  //   transition: fill var(--duration) var(--timing-function);
  // }
}
.header__btn-open {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  //   &:hover {
  //   fill: var(--activecolor);
  // }
  // &:focus {
  //   fill: var(--activecolor);
  // }
}

.header__btn-close {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  // &:hover {
  //   fill: var(--activecolor);
  // }
  // &:focus {
  //   fill: var(--activecolor);
  // }
}

.header__btn.is-open .header__btn-open {
  opacity: 0;
}
.header__btn.is-open .header__btn-close {
  opacity: 1;
}


.current {
  position: relative;
  color: var(--activecolor);
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--activecolor);
  border-radius: 2px;
  @include mq(mobile-only) {
    display: none;
  }
}

.nav {
@include mq(mobile-only) {
display: none;
}

&__list {
  display: flex;
  align-items: center;
}
&__item {
  display: block;
}
&__item:not(:last-child) {
  margin-left: 0px;
  margin-right: 50px;
  padding-left: 0px;
}
&__link {
  color: var(--secondtextcolor);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--duration) var(--timing-function);
}
&__link.current {
  color: var(--activecolor);
}
&__link:focus {
  color: var(--activecolor);
}
&__link:hover {
  color: var(--activecolor);
}
}
.contact {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 0px;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    flex-direction: column;
    margin-top: 21px;
    margin-bottom: 21px;
    align-items: flex-start;
  }
  
  &__link {
  display: flex;
  align-items: center;
  color: var(--maintextcolor);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  transition: color var(--duration) var(--timing-function);
  @include mq(tablet-only) {
    padding: 0px;
    margin: 0px 0px 0px 0px;

    font-size: 12px;

  }
}
&__link:focus {
  color: var(--activecolor);
}
&__link:hover {
  color: var(--activecolor);
}
&__item:not(:last-child) {
  margin-right: 50px;
  padding-left: 0px;
  @include mq(tablet-only) {
    margin-right: 0px;
  }
} 

&__item:last-child {
  @include mq(tablet-only) {
    margin-top: 10px;
    margin-left: -3px;
  }
}

&__point {
  margin-right: 10px;
  fill: var(--maintextcolor);
  transition: fill var(--duration) var(--timing-function);
  @include mq(tablet-only) {
    margin-right: 8px;
  }
}
&__link:hover .contact__point {
  fill: var(--activecolor);
}
&__link:focus .contact__point {
  fill: var(--activecolor);
}

}
