.logo {
  color: var(--activecolor);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  @include mq(notDesktop) {
      font-size: 24px;
  }
  &__header {
      margin-right: 93px;
    @include mq(tablet-only) {
        margin-right: auto;
    } 
}
  &__text-header {
      color: var(--secondtextcolor);
  }
  &__text-footer {
      color: var(--whitetextcolor);
  }
  &__box {
      padding-right: 12px;
      @include mq(mobile-only) {
          padding: 0px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 60px;
      }
  }
  &__footer {
      display: block;
      margin-bottom: 20px;
  }
}
