.form{
    &__item {
  margin-bottom: 10px;
}
&__item:last-of-type {
  margin-bottom: 20px;
}
&__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--maintextcolor);
}
&__box {
  position: relative;
}
&__input {
  width: 100%;
  padding: 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--duration) var(--timing-function);
}
&__input:focus {
    border-color: var(--activecolor);
}
&__text:focus {
    border-color: var(--activecolor);
}
&__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  fill: var(--secondtextcolor);
  transition: fill var(--duration) var(--timing-function);

}
&__input:focus + .form__icon {
  fill: var(--activecolor);
  transition: fill var(--duration) var(--timing-function);
}
&__text {
  width: 100%;
  max-height: 120px;
  padding: 12px 16px;
  resize: none;

  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--secondtextcolor);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--duration) var(--timing-function);
}
&__button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  border-color: transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
&__confirm-link {
  color: var(--activecolor);
  text-decoration: underline;
}
&__confirm {
  display: block;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--maintextcolor);
}
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid var(--secondtextcolor);
  border-radius: 4px;
  background-color: transparent;
}
&__input:checked + .checkbox__icon {
  border: transparent;
  background-color: #2196f3;
  background-image: url("../images/icons/icon-check.svg");
  background-repeat: no-repeat;
}
}