.filter {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  &__item:not(:last-child) {
  margin-right: 8px;
}
}
.example {
    &__title {
  color: var(--secondtextcolor);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}
&__filter {
  font-size: 16px;
  line-height: 1.87;
  margin: 0px;
}
&__list {
  display: flex;
  flex-wrap: wrap;
}
&__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
&__item:nth-child(3n) {
  margin-right: 0px;
}
&__item:nth-child(n + 7) {
  margin-bottom: 0px;
}
&__link {
  display: block;
  color: var(--maintextcolor);
  transition: box-shadow var(--duration) var(--timing-function);
}
&__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
&__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
&__card {
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}
&__box {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
&__overlay {
  position: absolute;

  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
  padding: 63px 24px;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555;

  letter-spacing: 0.03em;

  color: var(--whitetextcolor);
}
&__item:hover .example__overlay {
  transform: translateY(0%);
  opacity: 1;
}
&__item:focus .example__overlay {
  transform: translateY(0%);
  opacity: 1;
}
}