:root {
  --maintextcolor: #757575;
  --secondtextcolor: #212121;
  --whitetextcolor: #ffffff;
  --activecolor: #2196f3;
  --background: #e5e5e5;
  --second-background: #2f303a;
  --third-background: #f5f4fa;
  --black-color: #000000;
  --main-font: Roboto;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}